body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
header{
  background-color: #F1DABF;
  width: 100%;
  height: 12%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 1;
}

/*same font style*/
.webdev,.description,.major-title,.social-title,.skill-title{
  font-family: 'roboto mono';
}
/* --------------------------------------------------------------------- */

.container{
  padding-top: 80px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.bsit3a{
  display:flex;
  justify-content: start;
  align-items: center;
  padding-left: 100px;
}

.contact{
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "red rose";
}
.number,.gmail{
  display:flex;
  align-items: center;
  justify-content: center;
}
.numIcon{
  width: 40px;
}
.gmIcon{
  width: 40px;  
  margin-right:15px;
}
.gmailAcc{
  color: black;
}

.header-right-section{
  display:flex;
  justify-content: center;
  align-items: center;
}

.bsit3a{
  font-family:"rammetto one";
  font-size: 44px;
}

/*left section*/

.left-section{
  background-color: FFFBFF;
  display: block;
}
.joemar{
  margin-bottom: 0;
  font-size: 8vw;
  font-family: "holtwood one sc";
  color: #92817A;
  -webkit-text-stroke: black 3px;
  margin-left: 10%;
  display:inline-block;
}

.webdev{
  font-weight: bold;
  font-size: 2vw;
  margin-left: 10%;
}

.description{
  width: 50%;
  font-size: 1.5vw;
  margin-left: 10%;
  font-weight: 500;
  display: block;
}

.personal-info-button{
  margin-left: 10%;
  margin-top: 20px;
  padding: 10px;
  width: 9vw;
  border-radius: 10px;
  background-color: #F1DABF;
  border: none;
  font-family: 'roboto';
  font-weight: bold;
  font-size: .9vw;
}

.skills-box{
  width: 50%;
  height: 14vw;
  background-color: #F1DABF;
  margin-left: 10%;
  margin-top: 8%;
  border-radius: 25px;
  font-size: 1vw;
}

.individual-skill{
  font-family: 'roboto';
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 2%;
}

.skill-rate{
  width: 100%;
}

.prog-lang{
  margin-left: 10%;
}

.rate{
  margin-right: 12%;
  padding-left: 5%;
}

/*Right section ---------------------------------------------------------*/

.right-section{
  margin-right: 4%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.major-box{
  width: 28vw;
  height: 40vh;
  background-color: #F1DABF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.major-title,.skill-title{ /*same font-style*/
  font-size: 1.3vw;
  text-align: center;
  padding-top: 5%;
  font-weight: bold;
}
.yrlevel,.language,.language-pic{
 height: 10dvh;
 display: flex;
 align-items: center;
}
.year-level-subject{
  font-family: 'red rose';
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.yrbox1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1vw;
  padding-left: 10px;
}
.language-pic img{
  width:45px;
  padding-right: 20px;
}


.social-acc{
  width: 22vw;
  height: 34vh;
  background-color: #F1DABF;
  border-radius: 25px;
  margin-top: 30px;
}

.social-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
  font-weight: bold;
  padding-top: 20px;
}

.social-box{
  font-family: roboto;
  padding-top: 20px;
  /* height: 0% */
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* padding-bottom: 20px; */
}

.icon-and-name:hover{
  background-color: #92817A;
}

.icon-and-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .7vw;
}

.icon{
  margin-right: 5%;
  margin-left:20%;
}

.acc-name{
  margin-right: 30%;
}

.tolero{
  margin-top: -20px;
  padding-bottom: 0;
  font-size: 8vw;
  font-family: "holtwood one sc";
  color: #92817A;
  -webkit-text-stroke: black 3px;
  margin-left: 80px;
  display:inline-block;
  z-index: 1;
}

/* Picture center */

.picture-box
{
  position: relative;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.picture-box img{
  max-width: 40%;
}

.Tolero{
  display: none;
}